*.DS_Store
*.log
*.html
*.txt
*/trash
*.pyc
*.orig
/bin
/include
/media
/share
/lib
*.json
*.Python
trained_models/
/trained_models
*/trained_models
*/lda_topics/trash
*/lda_topics/trials
nohup*
*/migrations