
      <div class='row'>
      <div class='col-xs-3'>
      <div class="social-icon facebook">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" title="Share on Facebook"
        target="_blank">
            <span class="ion-social-facebook"></a>
      </div>
      </div>

      <div class='col-xs-3'>
      <div class="social-icon twitter">
        <a href="https://twitter.com/intent/tweet?text={{ share_string }}&url={{ request.build_absolute_uri }}&via=fooreviews&original_referer={{ request.build_absolute_uri }}"
            target="_blank" title="Tweet">  
            <span class="ion-social-twitter"></a>
      </div>
      </div>

      <div class='col-xs-3'>
      <div class="social-icon google-plus">
        <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank" title="Share on Google+">  <span class="ion-social-googleplus"></i></a>
      </div>
      </div>

      <div class='col-xs-3'>
      <div class="social-icon linkedin">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}" target="_blank" title="Share on LinkedIn">  
            <span class="ion-social-linkedin"></i></a>
      </div>
      </div>

       <div class='col-xs-3'>
      <!-- <div class="social-icon pinterest">
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}" target="_blank" title="Share on LinkedIn">  
            <span class="ion-social-pinterest"></i></a>
      </div> -->
      </div>
    </div>